{% extends "html/BASE.html" %}

{% block content %}

<style>
  #home-link-nav  {
    color: gray !important;
  }
  #home-about-links {
    height: 500px;
    display: inline-block;
  }

  .home-title {
      font-family: 'Source Code Pro', monospace;
  }

  .home-image {
    max-width: 400px;
    max-height: 400px;
  }

  .base-about-el {
    display: flex;
    margin: 20px;
    opacity: 70%;
  }

  .base-about-el:hover {
    opacity: 100%;
  }
</style>

<div id="home-about-me">
  <p>Some Programming and Linux stuff, mostly.</p>

  <!--
    {% for image in images %}
    <img class="home-image" src="{{ url_for('static', filename='images/home/'+image) }}" alt=""/>
    {% endfor %}
  -->
  <span id="home-about-links">
    <a class="base-about-el" href="https://stackexchange.com/users/6465103/maximilian-ballard"><img src="https://stackexchange.com/users/flair/6465103.png" width="208" height="58" alt="profile for Maximilian Ballard on Stack Exchange" title="profile for Maximilian Ballard on Stack Exchange"/></a>
    <!--
    <a class="base-about-el" href="https://projecteuler.net/profile/maxballard.png"><img src="https://projecteuler.net/profile/maxballard.png"/></a>
    <a class="base-about-el" href="https://www.codewars.com/users/maxballard"><img src="https://www.codewars.com/users/maxballard/badges/large"/></a>
    -->
  </span>
</div>

<div id="base-about">
</div>

{% endblock %}
