
{% extends "html/BASE.html" %}

{% block content %}

<style type="text/css">
#zb-nav-writing { 
  background-color: gray; 
  color: black;
}
</style>

<h1>Writing</h1>

<span id="zb-writing-seperator"></span>

<div id="zb-posts">
  {% for dir in dirs %}
    <div>
      <a href="/sub/Writing/{{dir}}">{{ dir }}</a>
    </div>
  {% endfor %}
</div>

<div style='height:20px; background-color: green; margin: 20px;'></div>

<h3 class="writing-title">Matthew 10:34-39</h3>
<ul id="home-most-important">
  <li>[34] Do not think that I have come to bring peace to the earth. I have not come to bring peace, but a sword.</li>
  <li>[35] For I have come to set a man against his father, and a daughter against her mother, and a daughter-in-law against her mother-in-law.</li>
  <li>[36] And a person's enemies will be those of his own household.</li>
  <li>[37] Whoever loves father or mother more than me is not worthy of me, and whoever loves son or daughter more than me is not worthy of me.</li>
  <li>[38] And whoever does not take his cross and follow me is not worthy of me.</li>
  <li>[39] Whoever finds his life will lose it, and whoever loses his life for my sake will find it.</li></ul>
</ul>

{% endblock %}
