#request-admin-t {
  border: 2px solid green;
  background-color: black;
  margin: 0 auto !important;
  color: white;
  height: 50vh;
  display: block;
}

#blue-button {
  background-color: #0099FF;
}

#red-button {
  background-color: red;
}

button {
  border: none;
  box-shadow: none;
  opacity: none;
  display: inline;
  height: 100px;
  margin: 0 auto;
  width: 33%;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.admin-tables-table {
  text-align: left;
}
