
#home-about-links {
  height: 500px;
  display: inline-block;
}

.home-title {
    font-family: 'Source Code Pro', monospace;
}

.home-image {
  max-width: 400px;
  max-height: 400px;
}

.base-about-el {
  display: flex;
  margin: 20px;
  opacity: 70%;
}

.base-about-el:hover {
  opacity: 100%;
}

