
html {
  background-color: black;
  text-align: center;
}

.cell {
  display: inline-block;
  border: 10px solid black;
  height: 210px;
  width: 210px;
  background-color: rgb(0, 180, 0);
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.space {
  font-family: monospace;
  height: 60px;
  width: 60px;
  font-size: 60px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.change {
  color: blue;
}

.non-change {
  color: black;
}
